    {% load static %}

    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    {% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }} | DOLAR OFICIAL HOY --->>{{ question.valor_dolar_oficial }} | DOLAR BLUE HOY--->>{{ question.valor_dolar_blue }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}